* {
  font-weight: bold;
}

body {
  background-color: pink;
}

h2, h3{

}

.bookcase {
  border: solid 50px;
  width: 810px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #331A00;
  background-image: url(/home/rob/Desktop/lightOak.jpg);
  border-image: url(/home/rob/Desktop/Wood-Textures-1.png) 50 round;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.newbtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new {
  color: #FFF;
  background-color: #000;
  margin: 10px;
  height: 30px;
  border-radius: 10%;
}

.close-div {
  text-align: right;
  padding-right: 10px;
}

#close {
  background-color: #000;
  color: #FFF;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.info {
  color: #FFF;
}

.card {
  border: solid 2px;
  border-left: solid 5px;
  border-color: black;
  width: 200px;
  height: 300px;
  margin: 30px;
  font-size: 15px;
  border-radius: 0% 5% 5% 0%;
  text-align: center;
  box-shadow: 15px 3px 5px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

#form-container {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

#form {
  background-color: skyblue;
  font-size: 20px;
  border-radius: 10%;
  width: 450px;
  height: 600px;
  padding: 10px;
  margin: 10px;
  border: solid 2px black;
  text-align: center;
}

.field {
  margin: 5% 5%;
  /*background-color: lightgrey;*/
}

#CtA {
  font-size: 20px;
}

label {
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
  /*background-color: violet;*/
}

input {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: 5px 0px;
  background-color: Azure;
}

#submit {
  justify-content: center;
  margin-top: 20px;
  height: 40px;
  width: 120px;
}
