* {
<<<<<<< HEAD
=======
  font-weight: bold;
>>>>>>> 8e8fec981d87863a78bf94e327eefc1df192909b
}

body {
  background-color: lightpink;
}

h2, h3{

}

.bookcase {
  border: solid 50px;
  width: 810px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*background-color: #331A00;
  background-image: url(/home/rob/Desktop/lightOak.jpg);*/
  /* border-image: url(/home/rob/Desktop/Wood-Textures-1.png) 50 round; */
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.titlediv {
  background-color: lightblue;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
  height: 50px;
}

.newbtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new {
  margin: 10px;
  border-radius: 10%;
}

.close-div {
  text-align: right;
  padding-right: 10px;
}

#close {
  border-radius: 100%;
  width: 30px;
  margin-top: 10px;
}

.info {
  color: #FFF;
}

.card {
  border: solid 2px black;
  border-left: solid 5px;
  width: 200px;
  height: 300px;
  margin: 30px;
  font-size: 15px;
  border-radius: 0% 5% 5% 0%;
  text-align: center;
  box-shadow: 15px 3px 5px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

.form-container {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.form {
  background-color: lightblue;
  border: solid 2px black;
  border-left: solid 5px;
  font-size: 20px;
  width: 400px;
  height: 600px;
  padding: 10px;
  margin: 10px;
  border-radius: 0% 5% 5% 0%;
  text-align: center;
  box-shadow: 15px 3px 5px;
  text-align: center;
}

.field {
  margin: 5% 5%;
  /*background-color: lightgrey;*/
}

#CtA {
  font-size: 20px;
  font-weight: bold;
}

label {
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
  /*background-color: violet;*/
}

input {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: 5px 0px;
  background-color: azure;
  text-align: center;
  font-size: 18px;
  border-radius: 5%;
}

button {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  border-radius: 10%;
  height: 30px;
}

button:hover {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

#submit {
  justify-content: center;
  margin-top: 20px;
  width:120px;
}
